[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Icon=animal-farm
Terminal=false
Exec=qmlscene --desktop_file_hint=/usr/share/applications/animal-farm.desktop /usr/share/animal-farm/AnimalFarm.qml
Name=Animal Farm
X-Ubuntu-Touch=true
