Source: animal-farm
Section: devel
Priority: optional
Maintainer: Robert Ancell <robert.ancell@gmail.com>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 7.0.50~)
Homepage: https://launchpad.net/animal-farm

Package: animal-farm
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qmlscene,
         libqt5quick5,
         libqt5multimedia5,
         qtdeclarative5-ubuntu-ui-toolkit-plugin|qt-components-ubuntu
Description: Animal Farm
 A simple game for babies to touch animals and hear them make noises
